@font-face {
    font-family:'Greycliff';
    src:local('Greycliff'), url(./assets/Fonts/Demo_Fonts/Fontspring-DEMO-greycliffcf-regular.otf) format('opentype');
  }
  
  @font-face {
    font-family:'NewEditorial';
    src: local('NewEditorial'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.otf') format('opentype');
    src: local('NewEditorial.eot'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.eot');
    src: local('NewEditorial.eot?#iefix'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.eot?#iefix') format('embedded-opentype'),
         local('NewEditorial.woff2'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.woff2') format('woff2'),
         local('NewEditorial.woff'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.woff') format('woff'),
         local('NewEditorial.ttf'), url('fonts/PPEditorialNew/PPEditorialNew-Regular/PPEditorialNew-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'NewEditorialLight';
    src: url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.eot');
    src: url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.woff') format('woff'),
        url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.ttf') format('truetype'),
        url('fonts/PPEditorialNew/PPEditorialNew-Light/PPEditorialNew-Ultralight.svg#PPEditorialNew-Ultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family:'NewEditorialLight';
    src:local('NewEditorialLight'), url(fonts/PPEditorialNew/PPEditorialNew-Ultralight.otf) format('opentype');
  }
  
  @font-face {
    font-family:'NewEditorialBold';
    src:local('NewEditorialBold'), url(fonts/PPEditorialNew/PPEditorialNew-Ultrabold.otf) format('opentype');
  }
  
  body {
    margin: 0;
    font-family: 'NewEditorialLight', 'sans-serif',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Greycliff',
      monospace;
  }
  
  h1 {
    color: #B83826;
    font-family: 'NewEditorial', sans-serif;
    font-size: 100px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 1px;
  }
  
  h5 {
    color:#B83826;
    font-family: 'NewEditorialLight';
    font-size:20px;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
  }
  
  p {
    font-family: 'NewEditorialLight';
    font-size:14px;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
  }