/* #B83E26
#DD4544
#E8BB65
#CBCA88
#97C7C7
#F5F0E6
#323232 */

body{
  background-color: #F5F0E6;
}

#header {
    background-color: #B83E26; /* Grey background */
    padding: 0px 3px; /* Some padding */
    padding-bottom: 0px;
    color: #F5F0E6;
    text-align: center; /* Centered text */
    font-family: 'Right Sans Medium';
    font-size: 90px; /* Big font size */
    font-weight: normal;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
    transition-delay: 0.4s;
    z-index: 1000;
}

#navbar {
  background-color: #B83E26; /* Black background color */
  border-top: 1px solid #F5F0E6;
  border-bottom: 1px solid #F5F0E6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed; /* Make it stick/fixed */
  top: 108px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  justify-content: center;
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
  transition-delay: 0.4s;
  z-index: 999;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  font-weight: bold;
  font-family: 'NewEditorial';
  font-size: 15px;
  color: #F5F0E6;
  text-align: right;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

#navbar a:hover {
  color: #E8BB65;
  text-decoration: underline;
}
  