#headline-div{
    max-width: 90%;
}

@media (min-width: 992px){
    #left-headline{
        border-right: 1px solid black;
    }   
    #center-headline{
        border-right: 1px solid black;
    } 
}

.Events {
    width: 100%;
    padding: 20px;
    justify-content: center;
    border-top: 1px solid #333;
  }

  .Events h2 {
    justify-content: center;
    font-size: 24px;
    color: #333;
  }

#GM-Recap{
    border-top: 2px solid black;
    .row {
        display: flex;
        justify-content: center;
      }
}