/* Style for the entire card */
.homeCard {
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
  }

  .homeCard .card-category {
    font-style: oblique;
    font-weight: bold;
    color:#B83826;
    font-family: 'Pangram Sans Compact';
    font-size: small;
    padding-bottom: 5px;
  }

  .homeCard .card-description {
    font-family: 'Fragment Text Regular';
    font: pv3;
    font-size: medium;
    color: black;
    padding-bottom: 5px;
  }

  .homeCard .card-title {
    text-decoration: none;
    font-family: 'Fragment Text Regular';
    font: pv3;
    font-size: large;
    font-weight: bold;
    color: black;
    padding-bottom: 5px;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  .homeCard .card-title:hover {
    font-weight: 700;
  }

  .homeCard .main-card-title {
    text-decoration: none;
    font: pv3;
    font-size: xx-large;
    font-weight:650;
    color: black;
    padding-bottom: 5px;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }

  .homeCard .card-author {
    font-size: small;
    font-family: 'Radio Grotesk Black';
    font-weight: bold;
    padding-top: 2px;
  }
  
  /* Style for the card link */
  .homeCard a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  
  /* Hover effect for the card link */
  .homeCard a:hover {
    text-decoration: underline;
  }
  