/* Style for the entire card */
.homeCard {
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
  }
  
  /* Style for the card title */
  .homeCard title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .homeCard h5 {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  
  
  /* Style for the card link */
  .homeCard a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  
  /* Hover effect for the card link */
  .homeCard a:hover {
    text-decoration: underline;
  }
  