/* Style for the entire card */
.homeCard {
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
    margin-block-start: auto;
    margin-block-end: auto;
  }

  .homeCard .card-title {
    text-decoration: none;
    font: pv3;
    font-size: xx-large;
    font-weight:550;
    color: black;
    padding-bottom: 5px;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  .homeCard .card-title:hover {
    font-weight: 700;
  }

  .homeCard .main-card-title {
    text-decoration: none;
    font: pv3;
    font-size: xx-large;
    font-weight:650;
    color: black;
    padding-bottom: 5px;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }

  .homeCard .card-author {
    font: h6v4;
    font-weight: bold;
    color: #B83826;
    text-align: right;
    padding-top: 2px;
  }
  
  /* Style for the card link */
  .homeCard a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    transition-timing-function: ease-out;
  }
  
  /* Hover effect for the card link */
  .homeCard a:hover {
    text-decoration: underline;
  }
  