.magazine-tab{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.magazine-class{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.magazine-body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: #F5F0E6;
    font-family: 'Right Sans Medium';
    font-weight:normal;

    transition: all 0.5s ease-in-out;
}

.magazine-body.selected{
    flex: 1.09;
    font-size: 40px;
    background-color: #75150c;
    
}

.magazine-body.unselected{
    flex: 0.97;
    font-size: 35px;
    background-color: #b13d22;
}

.magazine-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}