@font-face {
    font-family: 'PP Editorial New';
    src: url('PPEditorialNew-Ultralight.eot');
    src: url('PPEditorialNew-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('PPEditorialNew-Ultralight.woff') format('woff'),
        url('PPEditorialNew-Ultralight.ttf') format('truetype'),
        url('PPEditorialNew-Ultralight.svg#PPEditorialNew-Ultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

