body {
  margin: 0;
  font-family: Georgia, BlinkMacSystemFont, 'sans-serif', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Greycliff',
    monospace;
}

h1 {
  color: #B83826;
  font-family: Georgia, sans-serif;
  font-size: 100px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1px;
}
