@font-face {
  font-family:'Greycliff';
  src:local('Greycliff'), url(./assets/Fonts/Demo_Fonts/Fontspring-DEMO-greycliffcf-regular.otf) format('opentype');
}

@font-face {
  font-family:'NewEditorial';
  src:local('NewEditorial'), url(./assets/Fonts/PPEditorialNew/PPEditorialNew-Regular.otf) format('opentype');
}

@font-face {
  font-family:'NewEditorialLight';
  src:local('NewEditorialLight'), url(./assets/Fonts/PPEditorialNew/PPEditorialNew-Ultralight.otf) format('opentype');
}

@font-face {
  font-family:'NewEditorialBold';
  src:local('NewEditorialBold'), url(./assets/Fonts/PPEditorialNew/PPEditorialNew-Ultrabold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'NewEditorialLight', 'sans-serif',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Greycliff',
    monospace;
}

h1 {
  color: #B83826;
  font-family: 'NewEditorial', sans-serif;
  font-size: 100px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1px;
}

h5 {
  color:#B83826;
  font-family: 'NewEditorialLight';
  font-size:20px;
  font-weight:normal;
  margin-top:0px;
  margin-bottom:0px;
}

p {
  font-family: 'NewEditorialLight';
  font-size:14px;
  font-weight:normal;
  margin-top:0px;
  margin-bottom:0px;
}